@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Gabriel Torres
   Date:   10/26/18
   
   Filename: ss_layout.css

*/


/* Article Styles */

/* will make article move and stay left on the webpage and make it a width of 384 pixels */
article {
    float: left;
    width: 384px;
}




/* First Line and Drop Cap Styles */

/* this will change the font of the first line and first letter of the article paragraph and make the first letter bigger with a serif font. the first line will be changed to small caps and the size will be enlarged  */
article>p:first-of-type::first-line {
    font-size: 1.35em;
    font-variant: small-caps;

}

article>p:first-of-type::first-letter {
    font-size: 4em;
    font-family: serif;
    float: left;
    line-height: .8em;
    margin-right: 5px;
    margin-bottom: 5px;
}






/* Aside Styles */

/* this will display any content in the display element to float left and a width of 768 pixels*/
aside {
    width: 768px;
    float: left;
}



/* Map Styles */
/* will change the size of the map image and place it horizontally on the page  */
div#battleMap {
    width: 688px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

img#mapImage {
    width: 100%;
}

/* Interactive Map Styles */
/* these will make the markers move to a certain spot on the map using coordinates */
a.battleMarkers {
    position: absolute;
}

a#marker1 {
    top: 2220px;
    left: 340px;
}

a#marker2 {
    top: 194px;
    left: 358px;
}

a#marker3 {
    top: 202px;
    left: 400px;
}

a#marker4 {
    top: 217px;
    left: 452px;
}

a#marker5 {
    top: 229px;
    left: 498px;
}

a#marker6 {
    top: 246px;
    left: 544px;
}

/* Map Information Styles */

/* will make them clickable when hovered on ,they will expose the information hidden */
div.mapInfo {
    display: none;
}

a.battleMarkers:hover+div.mapInfo {
    display: block;
}